@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #4E65FF  0%, #92EFFD 100%);

}
::selection{
  background: #d5bbf7;
}

h1{
  font-size: 24px;
  font-weight: 600;
}

h3{
  font-weight: 400;
}

section{
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 60px;
}

.card{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: center;

  background: #fff;
  border-radius: 5px;
  padding: 50px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.card .title{
  color: black;
  font-size: 24px;
  font-weight: 600;
}
.card .content{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.card  label.box{
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 20px;
}
#one:checked ~ label.first,
#two:checked ~ label.second,
#three:checked ~ label.third,
#four:checked ~ label.fourth{
  border-color: green;
  background: #c1f7ca;
}
.card  label.box:hover{
  background: #c1f7ca;
}

.card  label.box .plan{
  display: flex;
  width: 100%;
  align-items: center;
}
.card input[type="radio"]{
  display: none;
}

.card  label.box .icon{
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 15px;
  transition: all 0.25s ease;
}

.next-button{
  background: #c1f7ca;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease;

  color: black;
  border-color: black;
  border-width: 2px;
  font-size: 22px;
  font-weight: 600;
  height: 70px;
  width: 200px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

#calendar-button{
  margin-top: 340px;
}

#calendar-title{
  background: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#calendar{
  background: transparent;
  border: none;
  text-align: center;
  width: 100%;
  outline: none;
  color: black;
  font-size: 20px;
}::placeholder{
  color: black;
  font-size: 20px;
}


#title{
  color:white;
  font-size: 48px;
}

#description{
  color: white;
  margin: 50px 30px;
  font-size: 18px;
  text-align: center;
}

.question{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}

.answer-button{
  background: #fff;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease;

  color: black;
  border-color: black;
  border-width: 2px;
  font-size: 22px;
  font-weight: 600;
  height: 60px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#yes-answer{
  background: #c1f7ca;
}

#no-answer{
  background: #f7c1c1;
}

#email{
  background: #fff;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease;

  color: black;
  border-color: black;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
  height: 55px;
  width: 85vw;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#email::placeholder{
  color:rgb(155, 155, 155);
  font-size: 16px;
}

#email-title{
  background: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

#page4{
  row-gap: 120px;
}

#send-button{
  background-color: #4e92ff;
  color: white;
}
